.card ul {
  list-style-type: none;
}

.card h1,
.card p {
}

.entry {
  display: grid;
  grid-template-rows: 200px [tabs] auto [title] auto [author] auto;
  grid-template-columns: 1fr [content] minmax(200px, 600px) 1fr;
  gap: 0;
  margin: 0 auto;
  position: relative;
  align-items: center;
  text-align: center;
}

.entry__title {
  grid-row: title;
  grid-column: content;
  z-index: 1;
  background: #FFEEAF;
  padding: 20px;
  margin: 0 2rem;
}

.entry__figure {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  height: 400px;
}

.entry__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(.5) brightness(.5);
}

.entry__author {
  grid-row: author;
  grid-column: content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  align-self: start;
  background: #FFEEAF;
  border-radius: 0 0 10px 10px;
  margin: 0 2rem;
  margin-bottom: 60px !important;
  padding: 20px;
}

.list {
  grid-row: tabs;
  grid-column: content;
  display: block;
  justify-content: center;
  z-index: 1;
  background: #FFEEAF;
  border-radius: 10px 10px 0 0;
  padding: 1rem 0;
  margin: 0 2rem;
}

.list__item {
  display: inline-block;
  margin: 5px;
}

.tag {
  background: white;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 10px;
}

.tag:link,
.tag:visited,
.tag:hover,
.tag:focus,
.tag:active {
  color: black;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: 5px solid white;
  margin-right: 10px;
}
