.card {
  background: #eee;
  padding: 1rem;
}

.card ul {
  list-style-type: none;
  margin: 0;
}

.card h1,
.card p {
  margin: 0;
}

.card a {
  text-decoration: none;
}

.entry {
  display: grid;
  grid-template-columns: calc(55% - 20px) 45%;
  grid-template-areas:
    "spacer tabs"
    "title figure"
    "author figure";
  max-width: 960px;
  gap: 20px;
  margin: 0 auto;
  overflow: hidden;
  background: white;
}

.entry::before {
  content: '';
  height: 20px;
  background: #FFEEAF;
  grid-area: spacer;
  align-self: end;
  border-radius:  0 20px 20px 0;
  margin-right: 30px;
}

.entry__title {
  grid-area: title;
  padding-left: 20px;
}

.entry__figure {
  grid-column: figure-start / figure-end;
  grid-row: tabs-start / figure-end;
  position: relative;
}

.entry__image {
  border-bottom-left-radius: 150px;
  object-fit: cover;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.entry__author {
  grid-area: author;
  display: flex;
  align-items: center;
  align-self: start;
  padding-bottom: 20px;
  padding-left: 20px;
}

.list {
  grid-area: tabs;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  justify-content: center;
  padding: 20px 0 0;
  position: relative;
}

.tag {
  background: #FFEEAF;
  border-radius: 20px;
  text-decoration: none;
  padding: 5px 15px;
}

.tag:link,
.tag:visited,
.tag:hover,
.tag:focus,
.tag:active {
  color: black;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  margin-right: 10px;
}
